$tableColor:#093b09;

.cap{
    color: snow;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ts1{
    border: 5px solid $tableColor;
    width: 95%;
    margin: 0 auto;
    caption{
        @extend .cap;

    }
    tr{
        &:nth-of-type(odd){
            background-color: rgba($tableColor, 0.5);
        }
        &:nth-of-type(even){
            background-color: rgba($tableColor, 0.3);
        }
    }
    th{
        border: 1px solid $tableColor;
        background: $tableColor;
        color: snow;
        padding: 5px 0;
    }
    td{
        border: 1px dashed $tableColor;
        padding: 5px;
        color: snow;
        font-weight: normal;

       &:nth-of-type(1){
        width: 120px;
        text-align: center;
       }
       &:nth-of-type(3){
        width: 70px;
        text-align: center;
       }
       &:nth-of-type(4){
        width: 50px;
        text-align: right;
       }
       &:nth-of-type(6){
        width: 120px;
        text-align: right;
       }
    }
}
.ts2{
    width: 95%;
    margin: 30px auto;
    border-collapse: separate;
    border-spacing: 3px;
    caption{
        @extend .cap;
    }
    tr{
        &:nth-of-type(-n+4){
            td{
                background-color: rgba($tableColor,0.3);
            }
        }
        &:nth-of-type(n+5){
            td{
                background-color: rgba($tableColor,0.6);
            }
        }
        &:hover{
            td{
                background-color: rgba($tableColor,1);
                color: snow;
            }
    
        }
    }
    td{
        padding: 5px;
    }
}